body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.header {
  background-color: rgb(252, 242, 228);
  background-image: url(images/net2.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.primary-color {
  color: #fd6e0a;
}
.button-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: black;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
nav > ul {
  display: flex;
  align-items: center;
  
}
nav li {
  list-style: none;
  margin-right: 50px;
font-weight: bold;
}
nav a {
  text-decoration: none;
  color: #474747;

}
nav a:hover{
  border-radius: 5px;
  background: #fd6e0a;

  color: white;
 

  padding: 10px

}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner .front-image {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  width: 400px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
.about {
  padding: 130px;
  background-color: antiquewhite;
  margin: 130px 0px;
}
.section-title {
  color: black;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.section-description {
  color: #757575;
  text-align: center;
  font-family: Open Sans;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
#what-i-do {
  padding: 30px 150px;
}
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 6px 10px 0px black;
}
.skill-description {
  color: #757575;
}
/* resume */
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-column-title {
  font-weight: 700px;
  color: #444141;
  font-size: 30px;
}
.resume-item-description {
  color: #8e8c8c;
}
.resume-item-title {
  font-weight: 700px;
  font-size: 25px;
  color: #696969;
}
.resume-container hr {
  margin: 30 px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}
/* footer */
.footer-section {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  margin-top: 100px;
  padding: 130px 200px;
}
.social-links a {
  margin-right: 25px;
}
.social-links {
  text-align: center;
  margin-top: 20px;
}
.resume-item-institute{
  margin-top: 10px;
}

.footer-column {
  width: 50%;
}
.contact input[type="email"],
.contact input[type="text"],
textarea {
  display: block;
  margin-bottom: 25px;
  font-size: 15px;
  padding: 18px 5px;
  border-radius: 5px;
  color: #757575;
  border: 0;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .hide {
    display: none;
  }
  .hamburger {
    display: block;
  }
.resume-item-description{
  margin-top: 15px;
  margin-bottom: 5px;
}
  .skill-container,
  .resume-container {
    flex-direction: column;
  }
  #what-i-do {
    padding: 20px;
  }
  body {
    align-items: center;
  }
  .footer-section {
    padding: 10px;
    display: block;
    justify-items: center;
  }
  .footer-column {
    width: auto;
  }
  .about-info-container {
    display: block;
  }
  .about {
    width: auto;
    padding: 10px;
  }
  .about-info {
    margin-top: 10px;
  }
  .section-description {
    width: auto;
  }
  .submit {
    text-align: center;
  }
  .banner-title {
    font-size: 60px;
  }

  .banner-description {
    width: 200px;
    text-align: center;
  }
  .button-primary {
    text-align: center;
    margin-top: 2px;
    margin-right: 0;
  }
  nav {
    display: block;
    text-align: center;
    margin: auto;
  }
  * {
    padding: 0;
    margin: 0;
  }
  .skill {
    margin: 5px;
  }
  .resume-container {
    margin: 5px;
  }
  .resume-item- {
    margin-top: 20px;
  }

  .section-title{
    margin-bottom: 20px;
  }
  ul {
   justify-content: center;

  }
  .social-links {
    text-align: center;
    margin-top: 20px;
  }
}
